@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&display=swap');
:root{
    --white: white;
    --radial-gradient: linear-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    --score-text:hsl(229, 64%, 46%);
    --header-outline:hsl(217, 16%, 45%);
    --paper: linear-gradient(hsl(230, 89%, 62%),hsl(230, 89%, 65%));
    --rock: linear-gradient(hsl(349, 71%, 52%),hsl(349, 70%, 56%));
    --scissors: linear-gradient(hsl(39, 89%, 49%),hsl(40, 84%, 53%));
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:"Barlow Condensed", sans-serif;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: var(--radial-gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreboard{
    width: 700px;
    height: 150px;
    margin-top: 50px;
    border: 1px solid white;
    border-radius:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score{
    background: var(--white);
    width: 150px;
    height: 114px;
    border-radius:10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.title{
    margin-left: 30px;
}
.score h1{
    color: var(--score-text);
    font-size: 56px;
}
.score p{
    color: var(--header-outline);
    font-size:25px;
    font-weight: 600;
    line-height:19px;
    letter-spacing: 2.5px;
}
.hands{
    display: grid;
    grid-template-areas:
    'paper . scissors'
    '. rock .'
    ;
}
.paper{
    background: white;
    padding: 25px 30px !important;
    border-radius:100%;
    border: 15px solid hsl(230, 89%, 62%);
    margin: 5px;
}
.rock{
    background: white;
    padding: 25px 30px;
    border-radius:100%;
    border: 15px solid hsl(349, 71%, 52%);
    margin: 5px;
}
.scissors{
    background: white;
    padding: 25px 30px;
    border-radius:100%;
    border: 15px solid  hsl(40, 84%, 53%);
    margin: 5px;
}